{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/profiles/profiles-index.css' %}"
/>
{% endblock %}

{% block content %}



<section class="card-container">
    {% for profile in profiles %}
        <div class="card">
            <a href="{% url 'profiles_detail' profile.id %}">
                <div class="card-content">
                    <div class="card-img-container">
                        <img 
                            src="{% static 'images/sk8r-boi-cat.svg' %}" 
                            alt="A skater boy cat"
                        >
                    </div>
                    <h2 class="card-title">{{ profile.name }}</h2>
                    <p><small>{{ profile.skintype }}</small></p>
                </div>
            </div>
        </a>
    {% endfor %}
</section>

{% endblock %}