{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/profiles/profiles-index.css' %}"
/>
{% endblock %}

{% block content %}



<section class="card-container">
    {% for profile in profiles %}
        <div class="card">
            <a href="{% url 'profiles_detail' profile.id %}">
                <div class="card-content">
                    <div class="card-img-container">
                        <img 
                            src="{% static 'images/cream.png' %}" 
                            alt="product cream twist"
                        >
                    </div>
                    <h2 class="card-title">{{ profile.name }}</h2>
                    {% comment %} <p><small>{{ profile.get_time_display }}</small></p> {% endcomment %}
                    <p><small>Skin Type: {{ profile.get_skin_type_display }}</small></p>
                    <p><small>{{ profile.comment }}</small></p>
                </div>
            </div>
        </a>
    {% endfor %}
</section>

{% endblock %}