.p-container {
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottle-img {
    width: 75%;
    max-width: 350px;
}

.usr-img {
    width: 100%;
    border-radius: var(--card-border-radius);
}

.p-details {
    width: 98%;
}

.p-actions {
    /* margin-top: 20px; */
    display: flex;
    margin-left: 100px;
}

table {
    padding: 0 40px;
    width: 100%;
    border-spacing: 0 20px;
}   

th {
    text-align: left;
    padding: 6px 20px 0 0;
    font-weight: normal;
    vertical-align: top;
    font-size: var(--font-reg);
}

td {
    max-width: 60%;
}

td > * {
    width: 100%;
    padding: 2px 4px;
    font-size: var(--font-l);
}

td > textarea {
    height: calc(4 * var(--font-l) + 8px);
    font-family: inherit;
}
.subsection-title {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.subsection-content {
    margin: 0 8px;
}


.color-block {
    opacity: 0.8;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}




.product-details h1 {
    font-size: var(--font-xxl);
    margin: 15px 0 3px;
}

.product-details h2 {
    font-size: var(--font-xl);
    margin: 0 0 10px;
    margin-top: 0;
    margin-bottom: 10px;
}


.product-details {
    font-size: var(--font-reg);
    margin: 5px 0;
}




#file-input {
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
}

#file-name {
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .p-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.bottle-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
    }
}