{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">


    <title>SkinCare</title>
<link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>

    <nav>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'profiles_index' %}">Products</a></li>
            <li><a href="{% url 'profiles_create' %}">Add a product</a></li>
            {% comment %} <li><a href="{% url 'about' %} ">About</a></li> {% endcomment %}
            <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
            {% comment %} <li><a href="{% url 'about' %}">About</a></li> {% endcomment %}
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
    </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>