{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
    <div class="products-container">
    <img src="{% static 'images/sign-up.png' %}" alt="t" />
    </div>
    <img 
    src="{% static 'images/login.png' %}" 
    alt="login products"
    />
</section>
<section>
    <form action="{% url 'home' %}" method="post" class="login">
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn submit">Login</button>
    </form>
</section>

{% endblock %}